<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antigravity.pulselight"
    android:versionCode="7"
    android:versionName="1.6">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:resizeableActivity="false"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 8 Dynamic Accent Launcher Aliases -->
        <activity-alias
            android:name=".MainActivityLime"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_lime"
            android:roundIcon="@drawable/ic_launcher_lime"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityCyan"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_cyan"
            android:roundIcon="@drawable/ic_launcher_cyan"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityEmerald"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_emerald"
            android:roundIcon="@drawable/ic_launcher_emerald"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAmber"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_amber"
            android:roundIcon="@drawable/ic_launcher_amber"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRed"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_red"
            android:roundIcon="@drawable/ic_launcher_red"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityPurple"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_purple"
            android:roundIcon="@drawable/ic_launcher_purple"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityWhite"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_white"
            android:roundIcon="@drawable/ic_launcher_white"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityPink"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_launcher_pink"
            android:roundIcon="@drawable/ic_launcher_pink"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <service
            android:name=".PulseAudioService"
            android:foregroundServiceType="mediaProjection|mediaPlayback"
            android:stopWithTask="false"
            android:exported="false" />

        <service
            android:name=".PulseEngineTileService"
            android:label="Аудиодвижок"
            android:icon="@drawable/ic_qs_engine"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".PulseGlowTileService"
            android:label="Свечение"
            android:icon="@drawable/ic_qs_glow"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".PulseBreatheTileService"
            android:label="Пульсация"
            android:icon="@drawable/ic_qs_breathe"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
